@import url("https://googleapis.com/css2?family=Be+vietnam+pro:wght@300&display=swap");
 
* {
    margin: 0;
    padding: 0;
    font-family: "Be vietnam pro", sans-serif;
    scroll-behavior: smooth;
}

#wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

}

.container {
    width: 1200px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.nav-item {
    display: flex;
    gap: 2rem;
    padding: 0 4em;
}
.logo-container{
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container img{
   
    height: 78px;
}
.logo-container  p{
    position: relative;
    left: -17px;
    top: 3px;
 
}

a {
    text-decoration: none;
    color: black;
}

.nav-item div {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav-item div:hover {
    transition: 0.8s;
    font-weight: 500;
}


.hero-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.faded-text {
    user-select: none;
    font-size: 7em;
    color: rgb(231, 231, 231);
    position: absolute;
    bottom: -22%;
    left: -12%;
    font-weight: bold;
    transition: all 2s;
}

.user-image img {
    width: 311px;
}

.hero-section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-section-heading {
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role {
    color: #4e45d5;
    font-weight: 500;
}

.hero-section-subheading {
    font-size: 45px;
    line-height: 45px;
}

.hero-section-description {
    margin-top: 1rem;
    width: 95%;
    font-weight: 500;
}

.button {
    background-color: red;
    padding: 0.9rem 2.3rem;
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 7px 0px #b3b3b3;
    position: relative;
    z-index: 1;
    width: 146px;
    cursor: pointer;
    text-align: center;
}

.button::before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color: white;
    background-color: #ffffff;
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.8s;
    z-index: -1;
    right: 0;

}

.button:hover::before {
    transform: scale(1);
    border: 2px solid rgb(223, 223, 54);
    background-color: rgb(6, 6, 6);
}

.user-image {
    padding: 2.5rem;
    filter: grayscale(1);
    animation: scaleimage 5s linear infinite;
}

@keyframes scaleimage {
    0% {
        transform: scale(1);
        filter: grayscale(1);

    }

    50% {
        transform: scale(1.1);
        filter: grayscale(0);
        box-shadow: 3px 3px 10px black;

    }

    100% {
        transform: scale(1);
        filter: grayscale(1);

    }
}

.project-section {
    background-color: rgb(231, 231, 231);
    margin-top: 4rem;
}

.page-header {
    font-size: 90px;
    text-align: center;
    color: rgb(255, 52, 6);
    padding-top: 30px;
}

.project-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.project-card {
    width: 90%;
    height: 550px;
    background-image: url(RazorPay.png );
    background-image: url(RazorPay.png);
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
    background-size: cover;
}

.project-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1f1f1f9a;
}

.project-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
}

.project-card:hover::before {
    transform: scaleX(1);
}


.project-number {
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: white;
    z-index: 3;
}



.project-content-right {
    right: -40px;
    top: -45px;
}

.project-content-left {
    left: -40px;
    top: -45px;
}

.project-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 2em;
    transition: all 0.4s;
    left: 130px;
}

.project-content-2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 2em;
    transition: all 0.4s;
    left: 400px;
}

.project-content-3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 2em;
    transition: all 0.4s;
    left: 130px;
}

.project-content-4 {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 2em;
    transition: all 0.4s;
    left: 400px;
}

.skills-icon {
    width: 40px;
}

.project-skills-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project-heading {
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.project-subheading {
    width: 70%;
    font-size: 16px;
    font-style: italic;
}

.icon {
    cursor: pointer;
    font-size: 30px;
    color: white;
}

.icon:hover {
    color: rgb(255, 56, 56);
}

.btn-grp {
    display: flex;
    align-items: center;
    gap: 0.9rem;
}

.project-card:hover .project-content {
    transform: scale(1.1);
}
#project11{
    background-image: url(RazorPay.png);
}

#Project22 {
    margin-left: 120px;
    background-image: url(Discord.png);
}

#Project44 {
    margin-left: 120px;
    background-image: url(Parallax.jpg);
}

#Project33 {
    background-image: url(chairWebsite.png);
}

.skills-container {
    position: relative;
    margin: 10rem auto;
    padding: 5rem;
    display: flex;
    gap: 30px;
}

.skill-container-left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.skill-container-right {
    width: 50%;
    display: flex;
    gap: 2em;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    z-index: 111;
}

.skill-faded-text {
    font-size: 15em;
    font-style: bold;
    color: rgb(231, 231, 231);
    position: absolute;
    bottom: -34.5%;
    right: -7%;
    user-select: none;
}

.blob-style {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -5;
    transform: translate(-50%, -50%);
    animation: blobanimation 3s cubic-bezier(.86, -1.02, .22, 1.24) infinite;
}

@keyframes blobanimation {
    50% {
        top: 54%;
        left: 46%;
    }
}

.skills-logo {
    width: 90px;
    transition: all 0.5s;
    z-index: 111;
}

.skills-logo:hover {
    transform: scale(1.2);
}

.skill-heading {
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;
    color: #ff3406;
}

.caps {
    font-size: 90px;
}

.skill-subheading {
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
}

.skill-subheading p {
    margin-top: 20px;
}

.contactus-form-container {
    width: 100%;
    background-color: rgb(231, 231, 231);
}

.contactus-heading {
    font-size: 5em;
    font-family: sans-serif;
    color: red;
    padding-top: 2rem;
    font-weight: lighter;


}

.contactus-subheading {
    font-size: 3rem;
    color: #343d68aa;
    text-transform: capitalize;

}

.contactus-form-container {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;

}

.formfeild {

    width: 100%;
    margin-top: 27px;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
    border: none;
    background: #fffffffc;
}

#submit-btn:hover {
    transform: scale(1.1);
    transition: all 0.7s;
  
}

#submit-btn {
    padding: 0.9rem 1.5rem;
    width: 191px;
    transition: all 0.4s;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
     }
.foot{
    height:2rem;
    background-color: #b3b3b3; 
    background-image: linear-gradient(#e7e7e7, #fff);

}